@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.header_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff7f3;
    /*box-shadow: 2px 2px 5px #CCCCCC;
    border-bottom:#FFE5DA solid 2px;*/
    
}

.icons_container {
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  right:2rem;
  height:100%;
}

.nav_container {
    width:auto;
    position:relative;
    display:flex;
}

.nav_container > a {
    border:none;
    width: 13vw;
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    margin-bottom: 1rem;
    padding:2vw 0 0.5vw 0;
    font-family: "Red Hat Display", sans-serif;
    font-weight:600;
    font-size:1.3vw;
    text-align:center;
    text-decoration: none;
    transition: 0.1s;
}

.nav_container a.inactive {
    color:#A90B0B;
}

.nav_container a.active {
    color:#A90B0B;
    /*text-decoration: underline;
    text-decoration-color: #93ADCF; */
    background-image: url("../assets/stars.png");
}

.nav_container a.active_project {
    color:#A90B0B;
    /*text-decoration: underline;
    text-decoration-color: #93ADCF; */
    background-image: url("../assets/stars_long.png");
}

.nav_container > a.inactive:hover {
    color:#93ADCF;
    cursor: pointer;
}

.nav_container > a.active:hover {
    cursor: pointer;
}


@media (max-width: 1200px) {
 
    .nav_container > a {
        width:10rem;
        padding:25px 0 10px 0;
        font-size:1.2rem;
    }
      .nav_container > a.inactive:hover {
        color:#A90B0B;
    }
  }


  @media (max-width: 480px) {

    .icons_container {
        height:90%;
        right:0;
    }

    .nav_container {
        width:80%;
    }

    .nav_container > a {
        width:10rem;
        padding:25px 0 10px 0;
        font-size:1.2rem;
    }
  }