@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.home_about_me {
  margin-top:30vh;
  margin-bottom: 15vh;
  width:80%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  gap:1rem;
}

.home_container {
  width: 50%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding:1rem;
}

.home_description {
  margin-top:0.5rem;
  font-size: 1.1vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.6vw;
}

.home_icon {
  width:100%;
}

.home_icon_container {
  width:12%;
  height:fit-content;
}

.home_links {
  color: #A90B0B;
  text-decoration: underline;
}

.home_margin_left {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:20%;
  background-image: url("../assets/margin.png");
  background-repeat:repeat-y;
  background-size:contain;
}

.home_margin_right {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  width:20%;
  background-image: url("../assets/margin.png");
  background-repeat:repeat-y;
  background-size:contain;
}

.home_title {
  font-family: "Bona Nova", serif; 
  /*nfont-family:  "Raleway", sans-serif; */
  font-size:5vw;
  font-weight: 600;
  color:black;
  /*color:#A90B0B;*/
  text-shadow: 2px 2px 5px #CCCCCC;
}

.home_title_section {
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-top:28vh;
  margin-bottom: 38vh;
  gap:2rem;
}

.home_title_section_mobile {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_subtitle {
  font-size:1.6vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color:#212858;
  text-shadow: 1px 1px 3px #CCCCCC;
}

.home_welcome {
  font-size:1.6vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color:#212858;
}

.home_welcome_section {
  width:100%;
}

@media (max-width: 800px) {
 
  .home_about_me {
    margin-top:8rem;
    margin-bottom: 8rem;
  }

  .home_description {
    font-size:1rem;
    line-height: 1.5rem;
  }

  .home_icon_container {
    width:25%;
  }

  .home_subtitle {
    font-size: 1.5rem;
  }
  .home_title {
    font-size: 3rem;
  }
  .home_title_section {
    margin-top:8rem;
    margin-bottom: 8rem;  
  }
  .home_welcome {
    font-size:1.5rem;
  }
}

@media (max-width: 480px) {

  .home_about_me {
    width: 95%;
    margin-top:0;
    margin-bottom: 0;
    gap:1rem;
  }

  .home_container {
    width: 100%;
  }

  .home_description {
    text-shadow: 1px 1px 3px #CCCCCC;
  }

  .home_icon_container {
    width:20%;
    margin-top:3rem;
    margin-bottom:3rem;
  }

  .home_margin_left {
    visibility: hidden;
  }

  .home_margin_right {
    visibility: hidden;
  }

  .home_title {
    font-size: 15vw;
  }

  .home_title_section {
    width:95%;
    margin-top:0;
    margin-bottom: 1rem;
    gap:1rem;
  }

  .home_title_section_mobile  {
    background-image: url("../assets/doodles_transparent.png");
    background-repeat:repeat-x;
    background-size:cover;
    padding-top:5rem;
    padding-bottom:2rem;
    justify-content: flex-end;
  }

  .home_welcome {
    text-shadow: 1px 1px 3px #CCCCCC;
  }

}