@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.projects_background {
  background-image: url("../assets/doodles_transparent.png");
  background-repeat:no-repeat;
  background-size:cover;
  min-height:100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.projects_blurb {
  font-size: 1.1vw;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.6vw;
  margin-top:3rem;
  text-align: center;
  text-shadow: 1px 1px 3px #CCCCCC;
}

.project_container {
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-top:2rem;
  margin-bottom:2rem;
  gap:2rem;
}

.project_content {
  display:flex;
  flex-direction:column;
  gap:1rem;
  margin-top:1rem;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}

.project_screenshot {
  width: 100%;
  border: 1px solid #212858;
  box-shadow: 2px 2px 2px #CCCCCC;
}

.project_screenshot_column {
  width:40%;
  display:flex;
  flex-direction:column;
  gap:2rem;
}

.project_text {
  display:flex;
  flex-direction: column;
  gap:2rem;
  width:60%;
}

.project_titles {
  font-family: "Red Hat Display", sans-serif;
  color:#212858;
  font-weight:600;
  font-size:1.2rem;
}

.projects_grid {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  gap:3rem;
  width: 50%;
  margin-top:3rem;
  margin-bottom:3rem;
}

.projects_grid_cell {
  display:flex;
  align-items: center;
  justify-content: center;
}

.return_to_projects {
  width:50%;
  margin-top:2rem;
  color: #A90B0B;
  font-family: "Red Hat Display", sans-serif;
  font-size:1rem;
  transition:0.3s;
}

.return_to_projects:hover {
  text-decoration: underline;
  cursor: pointer;
}

.role_and_status {
  font-family: "Red Hat Display", sans-serif;
  color:#A90B0B;
  font-weight:600;
  font-size:1.2rem;
}

.view_project {
  width:100%;
  font-size: 1.5rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  color:#A90B0B;
  background-color: #FFE5DA;
  padding-top:1rem;
  padding-bottom:1rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px #CCCCCC;
}

.view_project:hover {
  color:#FFE5DA;
  background-color: #A90B0B;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .project_container {
    width:80%;
  }
  .projects_blurb {
    font-size: 1rem;
  }

  .projects_grid {
    width:60%
  }

  .return_to_projects {
    width:80%;
  }
}

@media (max-width: 480px) {

  .project_container {
    flex-direction: column;
  }

  .project_screenshot_column {
    width:100%;
  }

  .project_text {
    width:100%;
  }

  .projects_blurb {
    font-size: 1rem;
  }

  .projects_grid {
    width:95%
  }

  .return_to_projects {
    text-decoration: underline;
  }

  .view_project {
    border-radius: 10px;
    
  }

  .view_project:hover {
  color:#A90B0B;
  background-color: #FFE5DA;
  cursor: pointer;
}
}