@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Red+Hat+Display&display=swap');

.link_container > a {
  position:absolute;
  font-weight:600;
  font-size:1rem;
  text-decoration: underline;
  color:#6795d1;
  transition:0.1s;
}

.link_container > a:visited {
  color:#6795d1;
}

.link_container > a:hover {
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: 700;
}

.dates {
  display:flex;
  align-items: center;
  padding-left:1rem;
  padding-right:1rem;
  border-radius: 50px;
  font-size: 1rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 700;
  color:#A90B0B;
  background-color: #FFE5DA;
  
  width:max-content;
}

.link_container {
  margin-top: 0.5rem;
  position:relative;
  width:100%;
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5rem;
}

.link_container > a {
  text-decoration: none;
}

.title_container {
  width:100%;
  display:flex;
  justify-content: space-between;
  margin-bottom:1rem;
}

.wave {
  width:100%;
}

.wave_container {
  width:25%;
  height:fit-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.work_container {
  width: 50%;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top:2rem;
  margin-bottom:2rem;
  padding:2rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #CCCCCC;
}

.work_info {
  width:95%;
}

.work_lists {
  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
}

.work_lists > div {
	margin: 0;
	list-style: none;
  padding-left:2rem;
	background-image: url("../assets/list_image.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 1.5rem;
  margin-bottom: 1rem;
}

.work_subtitle {
  font-family: "Red Hat Display", sans-serif;
  color:#212858;
  font-weight:600;
  font-size:1.2rem;
  margin-bottom: 1rem;
}

.work_title {
  font-family: "Red Hat Display", sans-serif;
  color:#A90B0B;
  font-weight:700;
  font-size:1.3rem;
}

@media (max-width: 1200px) {
 
  .title_container {
    flex-direction:column;
    gap:0.5rem;
    justify-content:center;
    align-items:left;
  }

  .wave_container {
    width:40%;
  }

  .work_container {
    width:60%;
  }
}

@media (max-width:480px) {
  .wave_container {
    height:fit-content;
  }

  .work_container {
    padding:0;
    width: 95%;
    box-shadow: 0px 0px 0px;
  }
}